In [2]:
# training and testing . Training diye train korbo and test diye accuracy check korbo.
## ei algorithm diye check korbo amar machine koto percent accurate answer dicche.
## ei algortihm diye predict kora hoy kuno 1ta kaj korbe ki korbe na..  1=korbe.. 0=korbe na
#!pip install seaborn
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [3]:
df=pd.read_csv('Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
df.shape

(400, 3)

In [5]:
x=df.iloc[:,[0,1]]
x

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [6]:
y=df.iloc[:,2]
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [8]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.40,random_state=1)

In [9]:
print('Training data : ',xtrain.shape)

Training data :  (240, 2)

In [10]:
print('Testing data : ',xtest.shape)

Testing data :  (160, 2)

In [11]:
xtrain

     Age  EstimatedSalary
163   35            38000
247   57           122000
378   41            87000
145   24            89000
251   37            52000
..   ...              ...
255   52            90000
72    20            23000
396   51            23000
235   46            79000
37    30            49000

[240 rows x 2 columns]

In [12]:
xtest

     Age  EstimatedSalary
398   36            33000
125   39            61000
328   36           118000
339   39           122000
172   26           118000
..   ...              ...
340   53           104000
70    25            80000
38    26            72000
150   26            15000
208   40           142000

[160 rows x 2 columns]

In [13]:
ytrain

163    0
247    1
378    1
145    0
251    0
      ..
255    1
72     0
396    1
235    1
37     0
Name: Purchased, Length: 240, dtype: int64

In [14]:
model=SVC(gamma='auto')

In [15]:
model.fit(xtrain,ytrain)

SVC(gamma='auto')

In [16]:
model.score(xtest,ytest)

0.66875